Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

fix: remove develop branch from release
  .github/workflows/release.yml
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature, ci-update

fix: bump all packages version
  .changeset/nine-pets-pretend.md
Labels: feature

test: testing prerelease npm publish
  .changeset/pre.json
  .github/workflows/release.yml
  package.json
Labels: feature, ci-update, dependencies

test: testing prerelease npm publish
  .changeset/unlucky-fishes-judge.md
  .github/workflows/release.yml
Labels: feature, ci-update

test: testing prerelease npm publish
  .changeset/pre.json
  .prettierignore
  package.json
  packages/cryptoassets/CHANGELOG.md
  packages/cryptoassets/package.json
  packages/error-parser/CHANGELOG.md
  packages/error-parser/package.json
  packages/wallet-core/CHANGELOG.md
  packages/wallet-core/package.json
Labels: feature, dependencies

test: testing prerelease npm publish
  .github/workflows/build-test.yml
  .github/workflows/release.yml
  .husky/_/.gitignore
  .husky/_/husky.sh
  yarn.lock
Labels: feature, ci-update, dependencies

update method
  packages/wallet-core/src/store/actions/performNextAction/index.ts
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
  packages/wallet-core/src/store/actions/updateNFTs.test.ts
  packages/wallet-core/src/store/actions/updateNFTs.ts
  packages/wallet-core/src/store/broker/notification.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

add changeset
  .changeset/stale-candles-rush.md
Labels: feature

test: yarn --immutable
  .github/workflows/build-test.yml
  .github/workflows/release.yml
Labels: feature, ci-update

test: yarn scripts updated
  package.json
Labels: feature, dependencies

test: added version: yarn version-packages
  .github/workflows/release.yml
Labels: feature, ci-update

test: added version: yarn version-packages
  .changeset/pre.json
  package.json
Labels: feature, dependencies

test: added version: yarn version-packages
  .changeset/pre.json
  .changeset/unlucky-fishes-judge.md
  package.json
Labels: feature, dependencies

test: pre release github workflow added
  .changeset/pre.json
  .github/workflows/pre-release.yml
  package.json
Labels: feature, ci-update, dependencies

chore: version prerelease packages
  .changeset/pre.json
  .github/workflows/pre-release.yml
Labels: feature, ci-update

revert method and update changeset replace IPFS URLs
  .changeset/stale-candles-rush.md
  packages/wallet-core/src/store/actions/performNextAction/index.ts
  packages/wallet-core/src/store/actions/updateNFTs.test.ts
  packages/wallet-core/src/store/actions/updateNFTs.ts
Labels: feature

dispatch updateNFTs on successful NFT send txn
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
Labels: feature

remove comments
  packages/wallet-core/src/store/actions/performNextAction/index.ts
Labels: feature

feat: PR comments
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
Labels: feature

fix: PR comments rework
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
Labels: feature

feat: fetch token details labels automation
  packages/wallet-core/src/utils/fetchTokenDetails.ts
Labels: feature

fix: explorer link test for near
  packages/wallet-core/src/utils/asset.test.ts
Labels: feature

await NFT update
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
Labels: feature

remove IPFS URL check
  packages/wallet-core/src/store/actions/updateNFTs.ts
Labels: feature

test: bump the prerelease next 2 versions from develop
  .changeset/moody-cameras-fry.md
  .changeset/pre.json
  .changeset/pretty-ladybugs-watch.md
  .github/workflows/pre-release.yml
  package.json
  packages/cryptoassets/CHANGELOG.md
  packages/cryptoassets/package.json
  packages/error-parser/CHANGELOG.md
  packages/error-parser/package.json
  packages/wallet-core/CHANGELOG.md
  packages/wallet-core/package.json
Labels: feature, ci-update, dependencies

test: updated README.md
  .changeset/clever-horses-sell.md
  README.md
Labels: feature, documentation

test: updated docs
  .changeset/clever-horses-sell.md
  README.md
Labels: feature, documentation

test: remove uppercase from commit msg
  .github/workflows/pre-release.yml
Labels: feature, ci-update

test: added prerelease exit in yarn script
  README.md
  package.json
Labels: feature, dependencies, documentation

fix: type error in npm script
  package.json
Labels: feature, dependencies

feat: check files changes in changeset
  .github/workflows/pre-release.yml
Labels: feature, ci-update

update chainify packages
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

feat: NFT tx notification (#166)
  .changeset/stale-candles-rush.md
  packages/wallet-core/package.json
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
  packages/wallet-core/src/store/actions/updateNFTs.ts
  packages/wallet-core/src/store/broker/notification.ts
  yarn.lock
Labels: feature, dependencies

fix: updated the release and prerelease workflows to look for files changes in yaml
  .github/workflows/build-test.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: feature, ci-update

feat: bump version from master
  .changeset/flat-balloons-collect.md
  README.md
Labels: feature, documentation

feat: bump version from master deleted pre.json
  .changeset/pre.json
Labels: feature

feat: bump version from master deleted pre.json
  .changeset/slimy-parrots-sip.md
Labels: feature

fix: updated yarn install from frozen-lockfile
  .github/workflows/release.yml
Labels: feature, ci-update

fix: updated yarn install from --immutable-cache
  .github/workflows/release.yml
Labels: feature, ci-update

fix: updated yarn install
  .github/workflows/release.yml
Labels: feature, ci-update

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md
