Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md

chore: lifi integration bump versions
  .changeset/seven-pants-switch.md
Labels: feature

chore: lifi integration bump versions
  .changeset/tasty-parents-repair.md
  yarn.lock
Labels: feature, dependencies

update `analyticsEnabled` getter
  packages/wallet-core/src/store/getters.ts
Labels: feature

feat: bump versions after toggle analytics fix
  .changeset/purple-fans-burn.md
  .changeset/shaggy-oranges-hide.md
Labels: feature

changed from old import to new
  README.md
Labels: feature, documentation

fix: change slippagePercentage-> 3
  packages/wallet-core/src/swaps/debridge/DeBridgeSwapProvider.ts
Labels: feature

feat: bump versions after DeBridge slippage % change
  .changeset/odd-jeans-poke.md
Labels: feature

fix: fix solana address checker bug
  .changeset/few-olives-sell.md
  .changeset/pre.json
  packages/cryptoassets/package.json
  packages/cryptoassets/src/chains/NonEvmChain.ts
  yarn.lock
Labels: feature, dependencies

Create README.md
  packages/wallet-core/README.md
Labels: feature

Update README.md
  README.md
Labels: feature, documentation

Update README.md
  packages/wallet-core/README.md
Labels: feature

fix: update isValidAddress for solana
  packages/cryptoassets/src/chains/NonEvmChain.ts
Labels: feature

fix: simplify isValidAddress function for Solana
  packages/cryptoassets/src/chains/NonEvmChain.ts
Labels: feature

refactor: make solana address check more efficient
  packages/cryptoassets/package.json
  packages/cryptoassets/src/chains/NonEvmChain.ts
  yarn.lock
Labels: feature, dependencies

fix: cleanup fix
  packages/cryptoassets/src/chains/NonEvmChain.ts
Labels: feature

ci: update changeset for hotfix
  .changeset/config.json
  .changeset/curly-carrots-change.md
  .changeset/pre.json
Labels: feature

ci: add changeset for solana address checker fix
  .changeset/orange-phones-turn.md
  .changeset/pre.json
Labels: feature

chore: bump pre-release versions
  .changeset/pre.json
  .changeset/thirty-masks-wink.md
  packages/cryptoassets/CHANGELOG.md
  packages/cryptoassets/package.json
  packages/error-parser/CHANGELOG.md
  packages/error-parser/package.json
  packages/wallet-core/CHANGELOG.md
  packages/wallet-core/package.json
Labels: feature

chore: bump pre-release versions
  yarn.lock
Labels: feature, dependencies

chore: bump pre-release versions
  .changeset/popular-berries-collect.md
Labels: feature

fix: update covalent api key
  .changeset/nervous-falcons-relate.md
  packages/wallet-core/src/factory/client/nft.ts
Labels: feature

update example links
  packages/wallet-core/README.md
Labels: feature

update custom token link
  packages/wallet-core/README.md
Labels: feature

update example links so they are not broken
  packages/wallet-core/README.md
Labels: feature

fix broken links
  README.md
Labels: feature, documentation

fix: update Liquality errors - make context required - save context in error obj - wrapUserErrorMessage no longer accepts context arg
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/LowSpeedupFeeError.ts
  packages/error-parser/src/LiqualityErrors/PairNotSupportedError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  yarn.lock
Labels: feature, dependencies

feat: add chainify error parser
  packages/error-parser/package.json
  packages/error-parser/src/LiqualityErrors/LowSpeedupFeeError.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/Chainify/index.ts
  packages/error-parser/src/parsers/index.ts
  yarn.lock
Labels: feature, dependencies

fix: wrap(with errorparser) some calls to chainify - getTokenDetails - getTransactionByHash - nft.transfer - wallet.sendTransaction - swap.updateTransactionFee - wallet.updateTransactionFee
  packages/wallet-core/package.json
  packages/wallet-core/src/store/actions/fetchTokenDetails.ts
  packages/wallet-core/src/store/actions/performNextAction/send.ts
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
  packages/wallet-core/src/store/actions/updateTransactionFee.ts
  packages/wallet-core/src/swaps/EvmSwapProvider.ts
  packages/wallet-core/src/swaps/astroport/AstroportSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCDepositSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/swaps/hop/HopSwapProvider.ts
  packages/wallet-core/src/swaps/jupiter/JupiterSwapProvider.ts
  packages/wallet-core/src/swaps/liquality/LiqualitySwapProvider.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/swaps/sovryn/SovrynSwapProvider.ts
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
  packages/wallet-core/src/utils/getTransactionByHash.ts
  packages/wallet-core/src/utils/isTransactionNotFoundError.ts
Labels: feature

fix: wrap calls to oneinch API using error parser
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
Labels: feature

fix: fix yarn.lock related build issue
  yarn.lock
Labels: feature, dependencies

style: rename some functions - wrapAync to wrapAsync - getParser to getErrorParser
  packages/error-parser/src/factory/index.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/test/lifi/quoteAPI.test.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/wallet-core/src/store/actions/fetchTokenDetails.ts
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
  packages/wallet-core/src/store/actions/updateTransactionFee.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/utils/getTransactionByHash.ts
Labels: feature

refactor: simplify throwing internal custom errors
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/LiqualityError.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/parsers/wrapCustomError.ts
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/swap/index.ts
  packages/wallet-core/src/store/actions/disableAssets.ts
  packages/wallet-core/src/store/actions/fetchTokenDetails.ts
  packages/wallet-core/src/store/actions/getUnusedAddresses.ts
  packages/wallet-core/src/store/actions/initializeAddresses.ts
  packages/wallet-core/src/store/actions/updateTransactionFee.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/swaps/SwapProvider.ts
  packages/wallet-core/src/swaps/astroport/AstroportSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/swaps/hop/HopSwapProvider.ts
  packages/wallet-core/src/swaps/jupiter/JupiterSwapProvider.ts
  packages/wallet-core/src/swaps/liquality/LiqualitySwapProvider.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/swaps/sovryn/SovrynSwapProvider.ts
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
  packages/wallet-core/src/swaps/utils.ts
  packages/wallet-core/src/utils/accounts.ts
  packages/wallet-core/src/utils/asset.ts
  packages/wallet-core/src/utils/derivationPath.ts
  packages/wallet-core/src/utils/fees.ts
  packages/wallet-core/src/utils/history.ts
  packages/wallet-core/src/utils/networks.ts
Labels: feature

refactor: refactor error localization
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/LowSpeedupFeeError.ts
  packages/error-parser/src/LiqualityErrors/PairNotSupportedError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/LiqualityErrors/translations/en.ts
  packages/error-parser/src/LiqualityErrors/translations/index.ts
  packages/error-parser/src/LiqualityErrors/translations/translationKeys.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
Labels: feature

fix: add new custom error to error parser
  packages/error-parser/src/LiqualityErrors/customErrors.ts
Labels: feature

fix: update parseError to return error as is if error is already a liquality error
  packages/error-parser/src/parsers/ErrorParser.ts
Labels: feature

fix: separate error translations - translations for walletExtension could be different from mobile
  packages/error-parser/src/LiqualityErrors/translations/forExtension/en.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forMobile/en.ts
  packages/error-parser/src/LiqualityErrors/translations/forMobile/index.ts
  packages/error-parser/src/LiqualityErrors/translations/index.ts
  packages/error-parser/src/index.ts
Labels: feature

fix: add more liquality errors & update imports
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/LedgerDeviceConnectionError.ts
  packages/error-parser/src/LiqualityErrors/LiqualityError.ts
  packages/error-parser/src/LiqualityErrors/LowSpeedupFeeError.ts
  packages/error-parser/src/LiqualityErrors/NoActiveWalletError.ts
  packages/error-parser/src/LiqualityErrors/PairNotSupportedError.ts
  packages/error-parser/src/LiqualityErrors/PasswordError.ts
  packages/error-parser/src/LiqualityErrors/QuoteExpiredError.ts
  packages/error-parser/src/LiqualityErrors/SlippageTooHighError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/WalletLockedError.ts
  packages/error-parser/src/LiqualityErrors/customErrors.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/en.ts
  packages/error-parser/src/LiqualityErrors/translations/forMobile/en.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/parsers/wrapCustomError.ts
  packages/error-parser/src/reporters/console.ts
  packages/error-parser/src/reporters/discord.ts
  packages/error-parser/src/reporters/email.ts
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/test/lifi/quoteAPI.test.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
Labels: feature

fix: override Error.toString() for liqualityError - along with helpful util functions
  packages/error-parser/src/LiqualityErrors/LiqualityError.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/types/types.ts
  packages/error-parser/src/utils/index.ts
  packages/wallet-core/src/store/actions/performNextAction/index.ts
Labels: feature

fix: sanitize import path
  packages/wallet-core/src/factory/client/index.ts
Labels: feature

fix: fix type error
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
Labels: feature
