Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md

feat: re-enable fastbtc deposit and withdraw
  packages/wallet-core/src/build.config.ts
Labels: feature

fix: lint issues
  .changeset/rotten-geckos-attend.md
  package.json
  packages/wallet-core/package.json
  packages/wallet-core/src/factory/client/nft.ts
  yarn.lock
Labels: feature, dependencies

fix: updated nft providers calls
  packages/cryptoassets/src/chains/mainnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/mainnet/evm/bsc.ts
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
  packages/cryptoassets/src/chains/testnet/evm/ethereum.ts
  packages/cryptoassets/src/types.ts
  packages/wallet-core/src/factory/client/clients.ts
Labels: feature

fix: fixed fast btc query by block number
  .changeset/little-squids-sniff.md
  packages/wallet-core/package.json
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  yarn.lock
Labels: feature, dependencies

feat: fixed infura nft provider
  .changeset/clean-knives-rule.md
  packages/cryptoassets/package.json
  packages/cryptoassets/src/chains/mainnet/evm/arbitrum.ts
  packages/cryptoassets/src/chains/mainnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/cryptoassets/src/chains/testnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/testnet/non-evm/near.ts
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

fix: fixed type mistmatch from chainify
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/store/actions/hardware-wallet/getLedgerAccounts.ts
  packages/wallet-core/src/swaps/EvmSwapProvider.ts
  packages/wallet-core/src/swaps/liquality/LiqualitySwapProvider.ts
  packages/wallet-core/src/swaps/sovryn/SovrynSwapProvider.ts
  packages/wallet-core/src/utils/chainify.ts
  packages/wallet-core/src/utils/fees.ts
Labels: feature

fix: fixed near rpc network settings
  .changeset/polite-coats-live.md
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/wallet-core/package.json
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/store/actions/getUnusedAddresses.ts
  packages/wallet-core/src/store/actions/updateAccountBalance.ts
  packages/wallet-core/src/store/actions/updateBalances.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/swaps/EvmSwapProvider.ts
  packages/wallet-core/src/swaps/liquality/LiqualitySwapProvider.ts
  packages/wallet-core/src/utils/chainify.ts
  packages/wallet-core/src/utils/fees.ts
  yarn.lock
Labels: feature, dependencies

fix: Change teleswap to use infura http provider instead of wss
  .changeset/weak-lamps-rescue.md
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
Labels: feature

fix: fixed sign message in chanify
  .changeset/spotty-comics-promise.md
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

fix typos
  README.md
Labels: feature, documentation

fix typos
  packages/wallet-core/README.md
Labels: feature

fix typo
  packages/error-parser/README.md
Labels: feature

fix: update near urls
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/cryptoassets/src/chains/testnet/non-evm/near.ts
Labels: feature

fix: update near urls
  .changeset/weak-peas-agree.md
Labels: feature

chore: updated packages versions
  .changeset/weak-peas-agree.md
  packages/cryptoassets/CHANGELOG.md
  packages/cryptoassets/package.json
  packages/error-parser/CHANGELOG.md
  packages/error-parser/package.json
  packages/wallet-core/CHANGELOG.md
  packages/wallet-core/package.json
Labels: feature
