Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md

update yarn.lock
  yarn.lock
Labels: feature, dependencies

chore: bump wallet core version
  .changeset/eight-horses-fry.md
Labels: feature

chore: bump wallet core version
  .changeset/wet-bikes-matter.md
  .github/workflows/release.yml
Labels: feature, ci-update

fix: correctly retrieve account balances in action
  packages/wallet-core/src/store/actions/updateAccountBalance.ts
Labels: feature

feat: chain to asset (#139)
  packages/wallet-core/src/nameResolvers/nameResolver.ts
  packages/wallet-core/src/nameResolvers/uns.test.ts
  packages/wallet-core/src/nameResolvers/uns.ts
Labels: feature

tests: remove fake timers
  packages/wallet-core/src/store/actions/accounts/toggleAccount.test.ts
  packages/wallet-core/src/store/actions/disableEthereumInjection.test.ts
  packages/wallet-core/src/store/actions/enableDisableAssets.test.ts
Labels: feature

fix: revert npm script
  .github/workflows/release.yml
Labels: feature, ci-update

tests: fix enable disable test
  packages/wallet-core/src/store/actions/enableDisableAssets.test.ts
Labels: feature

fix: correctly retrieve account balances in action - fixes tests (#154)
  packages/wallet-core/src/store/actions/accounts/toggleAccount.test.ts
  packages/wallet-core/src/store/actions/disableEthereumInjection.test.ts
  packages/wallet-core/src/store/actions/enableDisableAssets.test.ts
  packages/wallet-core/src/store/actions/updateAccountBalance.ts
Labels: feature

build: changeset
  .changeset/selfish-emus-think.md
Labels: feature

ci: added beta release npm script
  .github/workflows/release.yml
  package.json
Labels: feature, ci-update, dependencies

ci: fix duplicated ids
  .github/workflows/release.yml
  README.md
Labels: feature, ci-update, documentation

ci: fix yarn script
  .github/workflows/release.yml
Labels: feature, ci-update

test: test the development beta tag
  .changeset/tricky-carrots-tie.md
Labels: feature

fix: address validation for evm chains
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature

feat: add changeset
  .changeset/four-cameras-swim.md
Labels: feature

fix: address validation for evm chains (#158)
  .changeset/four-cameras-swim.md
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature

feat: add error-parser package
  packages/error-parser/jest.config.js
  packages/error-parser/package.json
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/factory/index.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/reporters/console.ts
  packages/error-parser/src/reporters/discord.ts
  packages/error-parser/src/reporters/email.ts
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/test/index.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/error-parser/src/types/types.ts
  packages/error-parser/src/utils/index.ts
  packages/error-parser/tsconfig.json
  yarn.lock
Labels: feature, dependencies

fix: address validation for evm chains
  .changeset/odd-jokes-brake.md
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature

fix: address validation for evm chains (#161)
  .changeset/odd-jokes-brake.md
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature

version: bump
  packages/cryptoassets/package.json
  packages/wallet-core/package.json
Labels: feature

version: bump (#163)
  packages/cryptoassets/package.json
  packages/wallet-core/package.json
Labels: feature

fix: address formatting
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature

changeset
  .changeset/poor-queens-confess.md
Labels: feature

fix: changeset patch instead of major
  .changeset/poor-queens-confess.md
Labels: feature

Fix/format address (#164)
  .changeset/poor-queens-confess.md
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: feature

feat: - remove NFT from state on send - create history notification for NFT txn
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
  packages/wallet-core/src/store/broker/notification.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

remove logs
  packages/wallet-core/src/store/mutations.ts
Labels: feature

move NFT mutation
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
Labels: feature

fix: client getter for nft with accountId
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
Labels: feature

feat: added changeset
  .changeset/sour-spies-repair.md
Labels: feature

feat: add parser for approve & quote oneinch Apis
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
Labels: feature

test: update test to cover for async wraps
  packages/error-parser/src/test/index.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
Labels: feature

feat: lifi
  packages/wallet-core/package.json
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/swap/index.ts
  packages/wallet-core/src/store/actions/getQuotes.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/swaps/EvmSwapProvider.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
  packages/wallet-core/src/swaps/lifi/info.json
  packages/wallet-core/src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  packages/wallet-core/src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  packages/wallet-core/src/swaps/types.ts
  packages/wallet-core/src/swaps/utils.ts
  yarn.lock
Labels: feature, dependencies

fix: 19th migration
  packages/wallet-core/src/store/migrations/19_remove_existing_ledger_accounts_test.ts
Labels: feature

feat: lint no-console rule (#140)
  .eslintrc.yaml
  packages/wallet-core/src/store/migrations/19_remove_existing_ledger_accounts_test.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCDepositSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/utils/quotes.test.ts
  packages/wallet-core/src/walletOptions/defaultOptions.ts
Labels: feature

fix: remove debugger call
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
Labels: feature

fix: updated changeset to patch
  .changeset/sour-spies-repair.md
Labels: feature

fix: client getter for nft with accountId (#168)
  .changeset/sour-spies-repair.md
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
Labels: feature

feat: Lifi error handling
  packages/error-parser/package.json
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/PairNotSupportedError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/index.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/index.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/test/lifi/quoteAPI.test.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
  yarn.lock
Labels: feature, dependencies
