Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md

fix isSwapSupported
  packages/wallet-core/dist/src/build.config.js
  packages/wallet-core/dist/src/build.config.js.map
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
Labels: feature

add btc to telebtc
  packages/cryptoassets/dist/src/assets/testnet/erc20/polygon-tokens.js
  packages/cryptoassets/dist/src/assets/testnet/erc20/polygon-tokens.js.map
  packages/cryptoassets/dist/tsconfig.tsbuildinfo
  packages/cryptoassets/src/assets/testnet/erc20/polygon-tokens.ts
  packages/wallet-core/dist/src/build.config.js
  packages/wallet-core/dist/src/build.config.js.map
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/src/swaps/teleswap/info.json
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
  packages/wallet-core/src/swaps/teleswap/info.json
Labels: feature

telebtc to btc
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
Labels: feature

handle some err
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
Labels: feature

chore: added thorchain fixes and bumped version
  .changeset/cold-grapes-count.md
Labels: feature

chore: fixed lint issues
  .changeset/nine-poems-kick.md
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
Labels: feature

get quote for evm to btc
  package.json
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
  yarn.lock
Labels: feature, dependencies

non-telebtc to btc
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
Labels: feature

Avax stablecoin tokens
  packages/cryptoassets/src/assets/mainnet/erc20/avalanche-tokens.ts
Labels: feature

chore: updated avax tokens and changeset
  .changeset/hot-badgers-retire.md
Labels: feature

chore: updated chanify ledger packages
  package.json
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

chore: updated chanify ledger packages
  .changeset/silent-lemons-drive.md
Labels: feature

chore: bumped version
  .changeset/good-jobs-wait.md
Labels: feature

chore: bumped version
  package.json
  packages/cryptoassets/package.json
  packages/error-parser/package.json
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

chore: updated chanifiy ledger packages
  .changeset/three-walls-give.md
  packages/wallet-core/package.json
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/store/actions/hardware-wallet/getLedgerAccounts.ts
  packages/wallet-core/src/types.ts
  yarn.lock
Labels: feature, dependencies

chore: updated deps
  yarn.lock
Labels: feature, dependencies

chore: updated changeset
  .changeset/funny-islands-relax.md
Labels: feature

check wrap and unwrap
  package.json
  packages/cryptoassets/dist/src/assets/mainnet/erc20/polygon-tokens.js
  packages/cryptoassets/dist/src/assets/mainnet/erc20/polygon-tokens.js.map
  packages/cryptoassets/dist/src/assets/testnet/erc20/polygon-tokens.js
  packages/cryptoassets/dist/src/assets/testnet/erc20/polygon-tokens.js.map
  packages/cryptoassets/dist/tsconfig.tsbuildinfo
  packages/cryptoassets/src/assets/mainnet/erc20/polygon-tokens.ts
  packages/cryptoassets/src/assets/testnet/erc20/polygon-tokens.ts
  packages/wallet-core/dist/src/build.config.js
  packages/wallet-core/dist/src/build.config.js.map
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
  yarn.lock
Labels: feature, dependencies

fix swap and unwrap
  packages/wallet-core/dist/src/build.config.js
  packages/wallet-core/dist/src/build.config.js.map
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/src/swaps/teleswap/info.json
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
  packages/wallet-core/src/swaps/teleswap/info.json
Labels: feature

fix: last changes
  .eslintrc.yaml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .yarnrc.yml
  README.md
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
Labels: feature, ci-update, documentation

fix: chain id for testnet
  package.json
  packages/cryptoassets/dist/src/assets/testnet/erc20/polygon-tokens.js
  packages/cryptoassets/dist/tsconfig.tsbuildinfo
  packages/cryptoassets/src/assets/testnet/erc20/polygon-tokens.ts
  packages/wallet-core/dist/package.json
  packages/wallet-core/dist/src/build.config.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.d.ts
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js
  packages/wallet-core/dist/src/swaps/teleswap/TeleSwapSwapProvider.js.map
  packages/wallet-core/dist/tsconfig.tsbuildinfo
  packages/wallet-core/package.json
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/swaps/teleswap/TeleSwapSwapProvider.ts
  yarn.lock
Labels: feature, dependencies

feat: set new default rpc url for polygon mainnet
  .changeset/metal-baboons-matter.md
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
Labels: feature

chore: bumped version and run prettier
  .changeset/red-stingrays-run.md
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
Labels: feature

fix: disabled fast btc swap provider and added changeset
  .changeset/real-crabs-add.md
  packages/wallet-core/src/build.config.ts
Labels: feature

fix: removed fastbtc deposit
  .changeset/good-games-fly.md
  packages/wallet-core/src/build.config.ts
Labels: feature

chore: updated packages
  yarn.lock
Labels: feature, dependencies

feat: updated teleswap logo name
  packages/wallet-core/src/build.config.ts
Labels: feature

fix: update teleportdao packages
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

feat: bumped version and teleport dao integration
  .changeset/soft-seas-sell.md
  packages/wallet-core/src/swaps/uniswap/info.json
Labels: feature

chore: Bumped version for Teleswap integration
  .changeset/neat-colts-poke.md
Labels: feature

chore: Bumped version for Teleswap integration
  .changeset/olive-avocados-invent.md
Labels: feature

fix: updated teleswap icon path for mainnet
  packages/wallet-core/src/build.config.ts
Labels: feature

fix: updated teleswap icon path for mainnet
  .changeset/chatty-items-grin.md
Labels: feature

fix: disabled liquality swap provider
  packages/wallet-core/src/build.config.ts
Labels: feature

feat: update enable assets with default assets from build config
  packages/wallet-core/src/index.ts
Labels: feature

chore: updated changeset
  .changeset/serious-needles-decide.md
Labels: feature

fix: removed unused HTLC_CONTRACT_ADDRESS
  packages/wallet-core/src/build.config.ts
Labels: feature

feat: remove liquality boost providers from build config
  .changeset/gentle-ghosts-dance.md
  packages/wallet-core/src/build.config.ts
Labels: feature

chore: updated polygon urls and bumped version
  .changeset/sweet-months-argue.md
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
Labels: feature

feat: implemented infura provider
  package.json
  packages/wallet-core/src/factory/client/nft.ts
  packages/wallet-core/src/store/types.ts
  yarn.lock
Labels: feature, dependencies
