Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

fix: updated yarn install
  yarn.lock
Labels: feature, dependencies

fix: bump all patch versions
  .changeset/rare-colts-wait.md
Labels: feature

fix: bump all patch versions
  .changeset/real-years-share.md
  .github/workflows/release.yml
Labels: feature, ci-update

fix: updated package json script
  .changeset/polite-rabbits-shop.md
  .github/workflows/build-test.yml
  .github/workflows/pre-release.yml
  package.json
Labels: feature, ci-update, dependencies

fix: ignore run tests against changeset brabnches
  .github/workflows/build-test.yml
  .github/workflows/release.yml
Labels: feature, ci-update

feat: readme docs updated
  README.md
Labels: feature, documentation

fix: ignore run tests against readme doc changes
  .github/workflows/build-test.yml
Labels: feature, ci-update

fix: ignore run tests against readme doc changes
  .github/workflows/release.yml
Labels: feature, ci-update

fix: ignore run tests against readme doc changes
  .github/workflows/release.yml
Labels: feature, ci-update

bump up chainify package
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

bump up chainify package
  .changeset/twelve-bees-fix.md
Labels: feature

bump up chainify package (#185)
  .changeset/twelve-bees-fix.md
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

fix: price source should be omitted when matching currency code is there
  packages/cryptoassets/src/assets/mainnet/erc20/arbitrum-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/avalanche-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/optimism-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/polygon-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/solana-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/terra-tokens.ts
  packages/cryptoassets/src/interfaces/IAsset.ts
Labels: feature

fix: custom fees for btc, terra and near
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/terra.ts
  packages/cryptoassets/src/chains/mainnet/utxo/bitcoin.ts
Labels: feature

fix: optimism usdc asset code
  packages/cryptoassets/src/assets/mainnet/erc20/optimism-tokens.ts
Labels: feature

fix: ts errors
  packages/wallet-core/src/store/utils.ts
Labels: feature

fix: regression bugs bump versions
  .changeset/pre.json
  .changeset/young-rockets-rescue.md
Labels: feature

fix: regression bugs bump versions
  yarn.lock
Labels: feature, dependencies

fix: regression bugs bump versions
  .changeset/quiet-beers-jog.md
Labels: feature

fix: regression bugs bump versions
  .changeset/polite-cherries-poke.md
  .changeset/pre.json
  .changeset/quiet-beers-jog.md
  .changeset/twelve-bees-fix.md
Labels: feature

fix: regression bugs bump versions
  .changeset/strange-pillows-serve.md
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: feature, ci-update

fix: regression bugs bump versions
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: feature, ci-update

fix: checksumBehavior flag
  .yarnrc.yml
Labels: feature

fix: checksumBehavior flag
  .github/workflows/release.yml
Labels: feature, ci-update

fix: checksumBehavior flag
  yarn.lock
Labels: feature, dependencies

fix: bump versions patch
  .changeset/unlucky-candles-relate.md
  .husky/_/.gitignore
Labels: feature

feat: pre release mode
  .changeset/pre.json
Labels: feature

feat: revert some changes and bump version
  .changeset/pre.json
  .changeset/tricky-pens-attack.md
Labels: feature

fix: solana quota issue, endpoints updated
  packages/cryptoassets/src/chains/mainnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
Labels: feature

fix: solana quota issue, endpoints updated
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
Labels: feature

fix: solana quota issue, endpoints updated
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
Labels: feature

fix: solana quota issue, endpoints updated
  .changeset/smart-radios-run.md
Labels: feature

feat: debridge swap provider
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/swap/index.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/swaps/debridge/DeBridgeSwapProvider.ts
  packages/wallet-core/src/swaps/debridge/abi/DeBridgeGate.json
  packages/wallet-core/src/swaps/debridge/abi/SignatureVerifier.json
  packages/wallet-core/src/swaps/debridge/info.json
  packages/wallet-core/src/swaps/utils.ts
Labels: feature

fix: bump all versions for testing hot fix solana endpoinst change
  .changeset/healthy-pumpkins-heal.md
Labels: feature

fix: bump all versions for testing hot fix solana endpoinst change
  .changeset/healthy-pumpkins-heal.md
  .changeset/stale-points-press.md
Labels: feature

fix: set a threshold for slow quotes to resolve later
  packages/wallet-core/src/store/actions/getQuotes.test.ts
  packages/wallet-core/src/store/actions/getQuotes.ts
  packages/wallet-core/src/swaps/types.ts
  packages/wallet-core/src/utils/quotes.test.ts
Labels: feature

fix: rpc endpoints
  packages/cryptoassets/src/chains/mainnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/mainnet/evm/ethereum.ts
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/testnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/testnet/evm/ethereum.ts
  packages/cryptoassets/src/chains/testnet/evm/polygon.ts
  packages/cryptoassets/src/chains/testnet/non-evm/near.ts
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
Labels: feature

refactor: cleanup
  packages/wallet-core/src/store/actions/getQuotes.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
  packages/wallet-core/src/swaps/types.ts
Labels: feature

build: changeset
  .changeset/tiny-cobras-peel.md
Labels: feature

feat: Lifi (#171)
  .changeset/tiny-cobras-peel.md
  packages/error-parser/package.json
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/PairNotSupportedError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/LifiAPI/index.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/index.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/test/lifi/quoteAPI.test.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/wallet-core/package.json
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/swap/index.ts
  packages/wallet-core/src/store/actions/getQuotes.test.ts
  packages/wallet-core/src/store/actions/getQuotes.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/swaps/EvmSwapProvider.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
  packages/wallet-core/src/swaps/lifi/info.json
  packages/wallet-core/src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  packages/wallet-core/src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  packages/wallet-core/src/swaps/types.ts
  packages/wallet-core/src/swaps/utils.ts
  packages/wallet-core/src/utils/quotes.test.ts
  yarn.lock
Labels: feature, dependencies

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md
