Repository liquality/wallet-core, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, test, ci-update, dependencies, documentation

ci: add changeset
  .changeset/light-avocados-lie.md
Labels: feature

fix: map an error to PairNotSupported - ValidationError from OneInch and Lifi Api calls
  .changeset/violet-shrimps-notice.md
  packages/error-parser/src/parsers/LifiAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/utils/index.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
Labels: feature

fix: nfts without token_id throwing error
  packages/wallet-core/src/store/actions/updateNFTs.ts
Labels: feature

feat: add changeset
  .changeset/gorgeous-clocks-knock.md
Labels: feature

chore: bump versions from develop
  .changeset/good-cows-move.md
Labels: feature

fix: add error parser for uniswapV2
  packages/error-parser/src/LiqualityErrors/ValidationError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/Chainify/index.ts
  packages/error-parser/src/parsers/UniswapV2/UniswapV2SwapErrorParser.ts
  packages/error-parser/src/parsers/UniswapV2/index.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/test/chainify/uniswapV2.test.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
Labels: feature

fix: split messages to discord - use 1900 as character limit
  packages/error-parser/src/reporters/discord.ts
Labels: feature

ci: add changeset
  .changeset/metal-moles-swim.md
  .changeset/pre.json
Labels: feature

fix: remove unnecessary lines of codes
  packages/error-parser/src/LiqualityErrors/ValidationError.ts
  packages/error-parser/src/parsers/Chainify/index.ts
Labels: feature

chore: bump versions from develop
  .changeset/quick-feet-matter.md
Labels: feature

fix: map 1006NotFound error to pair not supported - 1inch probably didn't find token in their list enabled/supported ones
  .changeset/dull-trainers-attack.md
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/error-parser/src/utils/index.ts
Labels: feature

Activity filter fixes
  packages/wallet-core/src/utils/history.ts
Labels: feature

fix: report error iff users wish to
  packages/error-parser/src/index.ts
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/types/index.ts
  packages/wallet-core/src/index.ts
  packages/wallet-core/src/store/actions/clearErrorLog.ts
  packages/wallet-core/src/store/actions/index.ts
  packages/wallet-core/src/store/actions/logError.test.ts
  packages/wallet-core/src/store/actions/logError.ts
  packages/wallet-core/src/store/migrations/23_add_error_log.ts
  packages/wallet-core/src/store/migrations/index.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/state.ts
  packages/wallet-core/src/store/types.ts
Labels: feature

ci: add changeset
  .changeset/yellow-coats-press.md
Labels: feature

fix: remove unecessary migration 23
  packages/wallet-core/src/store/migrations/23_add_error_log.ts
  packages/wallet-core/src/store/migrations/index.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

fix: always log errors to state
  packages/error-parser/src/reporters/index.ts
  packages/wallet-core/src/index.ts
  packages/wallet-core/src/store/actions/logError.test.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

fix: remove unecessary migration 23
  packages/wallet-core/src/store/migrations/23_add_error_log.ts
  packages/wallet-core/src/store/migrations/index.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

ci: add changeset
  .changeset/yellow-coats-press.md
Labels: feature

fix: report error iff users wish to
  packages/error-parser/src/index.ts
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/types/index.ts
  packages/wallet-core/src/index.ts
  packages/wallet-core/src/store/actions/clearErrorLog.ts
  packages/wallet-core/src/store/actions/index.ts
  packages/wallet-core/src/store/actions/logError.test.ts
  packages/wallet-core/src/store/actions/logError.ts
  packages/wallet-core/src/store/migrations/23_add_error_log.ts
  packages/wallet-core/src/store/migrations/index.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/state.ts
  packages/wallet-core/src/store/types.ts
Labels: feature

fix: always log errors to state
  packages/error-parser/src/reporters/index.ts
  packages/wallet-core/src/index.ts
  packages/wallet-core/src/store/actions/logError.test.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

fix: added changes for error reporting with user consent
  .changeset/six-lies-fail.md
Labels: feature

fix: added changes for error reporting with user consent
  .changeset/fresh-onions-bake.md
  .changeset/pre.json
Labels: feature

fix: added changes for error reporting with user consent
  .changeset/rare-clouds-sin.md
Labels: feature

fix: fixed changelog settings
  packages/wallet-core/CHANGELOG.md
  packages/wallet-core/package.json
Labels: feature

Update README.md
  README.md
Labels: feature, documentation

fix: remove unnecessary line of code
  packages/wallet-core/src/store/mutations.ts
Labels: feature

feat: integrate sentry for error reporting
  .changeset/thin-carpets-joke.md
  packages/error-parser/package.json
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/reporters/sentry.ts
  packages/error-parser/src/types/index.ts
  packages/wallet-core/src/index.ts
  yarn.lock
Labels: feature, dependencies

feat: first draft with mutations and client factory changes
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/state.ts
  packages/wallet-core/src/store/types.ts
Labels: feature

chore: update default settings for chains
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/settings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/types.ts
Labels: feature

feat: added getters and store changes for chain settings
  packages/wallet-core/src/factory/settings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

fix: fixed lint issues and defaultSettings default value type
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/settings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/types.ts
Labels: feature

feat: implemented actions to handle custom chain settings
  packages/wallet-core/src/factory/index.ts
  packages/wallet-core/src/store/actions/customChainSettings.ts
  packages/wallet-core/src/store/actions/index.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/types.ts
Labels: feature

fix: fixed chain settings getters and data binding inside custom rpc settings
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
Labels: feature

fix: updated dependencies
  packages/wallet-core/src/store/actions/customChainSettings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
  yarn.lock
Labels: feature, dependencies

fixed latest changes with wallet core
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/settings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/types.ts
Labels: feature

chore: updated chainify packages
  packages/error-parser/package.json
  packages/wallet-core/package.json
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  yarn.lock
Labels: feature, dependencies

fix: ran prettier
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/settings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/types.ts
Labels: feature

fix: added alias for ledger devices package
  packages/wallet-core/tsconfig.json
Labels: feature

updated package versions
  package.json
  packages/wallet-core/package.json
  packages/wallet-core/tsconfig.json
  yarn.lock
Labels: feature, dependencies

fix: fixed chanify package versions issues
  package.json
  packages/wallet-core/package.json
  yarn.lock
Labels: feature, dependencies

.github/labeler.yml:

feature:
  - src/*.ts
  - src/**/*.ts
  - '!src/docs/*'

test:
  - src/factory/*.test.ts
  - src/utils/*.test.ts
  - src/store/**/*.test.ts
  - src/**/*.spec.ts
  - src/*.test.ts

ci-update:
  - .github/**/*
  - .github/workflows/*.yml
  - .github/*.yml

dependencies:
  - package.json
  - yarn.lock

documentation:
  - README.md
