Repository liquality/wallet-core, pull requests merged in 2022-04, with the labels that each got.

#7 feat: Add types in astroport swap provider
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/astroport/queries.ts
Labels: ✅ Approved, size/L

#8 test: few tests cases to cover index.ts
  .github/workflows/build-test.yml
  package.json
  src/index.test.ts
Labels: ✅ Approved, size/L

#9 feat: automation tests & ci changes
  .github/workflows/build-test.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  jest.config.js
  package.json
  src/build.config.ts
  src/index.test.ts
  src/store/actions/accounts/removeAccount.test.ts
  src/store/actions/accounts/toggleAccount.test.ts
  src/store/actions/addCustomToken.test.ts
  src/store/actions/addExternalConnection.test.ts
  src/store/actions/changeActiveWalletId.test.ts
  src/store/actions/changePassword.test.ts
  src/store/actions/enableDisableAssets.test.ts
  src/store/actions/exportPrivateKey.test.ts
  src/store/actions/initializeAddresses.test.ts
  src/store/actions/sendTransaction.test.ts
  src/store/actions/toggleExperiment.test.ts
  src/store/actions/updateFees.test.ts
  src/store/actions/updateFiatRates.test.ts
  src/store/actions/updateMarketData.test.ts
Labels: ✅ Approved, size/XXL

#13 ci: added release and tag creation based on version change
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: 🔍 Ready for Review, size/L
