Repository liquality/wallet-core, pull requests merged in 2022-11, with the labels that each got.

#236 fix: resolve bug in RC build, build..missing translation
  .changeset/clean-ghosts-rule.md
  .changeset/clever-steaks-return.md
  .changeset/pre.json
  packages/error-parser/src/LiqualityErrors/DappNotConnectedError.ts
  packages/error-parser/src/LiqualityErrors/DuplicateTokenSymbolError.ts
  packages/error-parser/src/LiqualityErrors/HighInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientInputAmountError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/LedgerDeviceConnectionError.ts
  packages/error-parser/src/LiqualityErrors/LowSpeedupFeeError.ts
  packages/error-parser/src/LiqualityErrors/NoActiveWalletError.ts
  packages/error-parser/src/LiqualityErrors/NoTipError.ts
  packages/error-parser/src/LiqualityErrors/PairNotSupportedError.ts
  packages/error-parser/src/LiqualityErrors/PasswordError.ts
  packages/error-parser/src/LiqualityErrors/SlippageTooHighError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/UserDeclinedError.ts
  packages/error-parser/src/LiqualityErrors/VeryHighMaxFeeWarning.ts
  packages/error-parser/src/LiqualityErrors/VeryHighTipWarning.ts
  packages/error-parser/src/LiqualityErrors/VeryLowMaxFeeError.ts
  packages/error-parser/src/LiqualityErrors/VeryLowTipError.ts
  packages/error-parser/src/LiqualityErrors/WalletLockedError.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/tsconfig.json
Labels: 🔍 Ready for Review, size/L, feature

#238 fix: updates to error parser
  .changeset/clean-ghosts-rule.md
  .changeset/five-ways-study.md
  .changeset/fuzzy-turtles-turn.md
  .changeset/pre.json
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/LiqualityError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/cb.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/es.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/ph.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/pt.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/zh.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/cb.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/es.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forMobile/ph.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/pt.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/zh.json
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/types/index.ts
Labels: ✅ Approved, size/XL, feature

#240 fix: resolve issue with transaction status not updating for send and swap
  .changeset/calm-eagles-suffer.md
  .changeset/fair-bugs-rush.md
  .changeset/fuzzy-turtles-turn.md
  .changeset/pre.json
  packages/error-parser/src/reporters/console.ts
  packages/error-parser/src/reporters/discord.ts
  packages/wallet-core/README.md
  packages/wallet-core/src/utils/isTransactionNotFoundError.ts
Labels: ✅ Approved, size/M, feature

#245 fix: update deprecated testnets
  .changeset/cyan-eyes-eat.md
  .prettierignore
  packages/cryptoassets/src/chains/testnet/evm/arbitrum.ts
  packages/cryptoassets/src/chains/testnet/evm/optimism.ts
Labels: 🔍 Ready for Review, size/M, feature

#246 fix: replace default errors with specific errors
  .changeset/clever-ears-live.md
  .changeset/pre.json
  packages/error-parser/src/LiqualityErrors/LedgerAppMismatchError.ts
  packages/error-parser/src/LiqualityErrors/LedgerDappConflictError.ts
  packages/error-parser/src/LiqualityErrors/LedgerDeviceLockedError.ts
  packages/error-parser/src/LiqualityErrors/LedgerDeviceNotUpdatedError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/cb.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/en.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/es.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/ph.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/pt.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/zh.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/cb.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/en.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/es.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/ph.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/pt.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/zh.json
  packages/error-parser/src/config.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/Chainify/JsonRPCNodeErrorParser.ts
  packages/error-parser/src/parsers/Chainify/LedgerErrorParser.ts
  packages/error-parser/src/parsers/Chainify/index.ts
  packages/error-parser/src/parsers/Debridge/DebridgeAPIErrorParser.ts
  packages/error-parser/src/parsers/Debridge/index.ts
  packages/error-parser/src/parsers/Thorchain/ThorchainAPIErrorParser.ts
  packages/error-parser/src/parsers/Thorchain/index.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/test/chainify/jsonRPCNode.test.ts
  packages/error-parser/src/test/chainify/ledgerDevice.test.ts
  packages/error-parser/src/test/debridgeAPI.test.ts
  packages/error-parser/src/test/thorchainAPI.test.ts
  packages/error-parser/src/utils/index.ts
  packages/wallet-core/src/swaps/debridge/DeBridgeSwapProvider.ts
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
Labels: ✅ Approved, size/XL, feature

#249 fix: move translations out of error-parser
  .changeset/light-avocados-lie.md
  packages/error-parser/src/LiqualityErrors/LiqualityError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/cb.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/en.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/es.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forExtension/ph.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/pt.json
  packages/error-parser/src/LiqualityErrors/translations/forExtension/zh.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/cb.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/en.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/es.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/index.ts
  packages/error-parser/src/LiqualityErrors/translations/forMobile/ph.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/pt.json
  packages/error-parser/src/LiqualityErrors/translations/forMobile/zh.json
  packages/error-parser/src/LiqualityErrors/translations/index.ts
  packages/error-parser/src/LiqualityErrors/translations/translationKeys.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/types/index.ts
Labels: 🔍 Ready for Review, size/XL, feature

#252 fix: nfts without `token_id` throwing error
  .changeset/gorgeous-clocks-knock.md
  packages/wallet-core/src/store/actions/updateNFTs.ts
Labels: ✅ Approved, size/S, feature

#250 fix: update ledger error parsing
  .changeset/strange-timers-provide.md
  packages/error-parser/src/LiqualityErrors/LedgerDeviceConnectionError.ts
  packages/error-parser/src/LiqualityErrors/LedgerDeviceSmartContractTransactionDisabledError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/Chainify/LedgerErrorParser.ts
  packages/error-parser/src/parsers/Chainify/index.ts
  packages/error-parser/src/test/chainify/ledgerDevice.test.ts
  packages/wallet-core/src/factory/client/index.ts
Labels: 🔍 Ready for Review, size/M, feature

#254 fix: fixes to error parser
  .changeset/metal-moles-swim.md
  .changeset/pre.json
  packages/error-parser/src/LiqualityErrors/ValidationError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/parsers/Chainify/ChainifyErrorParser.ts
  packages/error-parser/src/parsers/UniswapV2/UniswapV2SwapErrorParser.ts
  packages/error-parser/src/parsers/UniswapV2/index.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/reporters/discord.ts
  packages/error-parser/src/test/chainify/uniswapV2.test.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
Labels: ✅ Approved, size/L, feature
