Repository liquality/wallet-core, pull requests merged in 2022-06, with the labels that each got.

#54 Feat/chainify ledger
  .nvmrc
  package.json
  src/factory/client/clients.ts
  src/factory/client/evm.ts
  src/factory/client/index.ts
  src/store/migrations/20_fix_accounts.ts
  src/store/migrations/index.ts
  src/types.ts
  src/utils/fees.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XXL, feature

#52 feat: pass minimum and maximum amounts in quote
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
Labels: ✅ Approved, size/S

#53 test: added migration tests
  src/index.test.ts
  src/store/migrations/before_after_migration_script.test.ts
  src/store/migrations/migration_script.test.ts
Labels: ✅ Approved, size/L, feature, test

#56 Fix lowe case address on allowance
  src/swaps/EvmSwapProvider.ts
Labels: size/XS, 🔍 Ready for Review

#59 Fix/boost transition
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
Labels: size/XS, 🔍 Ready for Review

#12 feat: integrate chainify
  .gitignore
  .nvmrc
  package.json
  src/build.config.ts
  src/factory/client.ts
  src/factory/client/clients.ts
  src/factory/client/evm.ts
  src/factory/client/index.ts
  src/factory/index.ts
  src/factory/swap/index.ts
  src/store/actions/clientExec.ts
  src/store/actions/exportPrivateKey.test.ts
  src/store/actions/getQuotes.ts
  src/store/actions/hardware-wallet/getLedgerAccounts.ts
  src/store/actions/newSwap.ts
  src/store/actions/performNextAction/index.ts
  src/store/actions/performNextAction/send.ts
  src/store/actions/sendTransaction.ts
  src/store/actions/updateAccountBalance.ts
  src/store/actions/updateBalances.ts
  src/store/actions/updateFees.ts
  src/store/actions/updateMarketData.ts
  src/store/actions/updateTransactionFee.ts
  src/store/broker/notification.ts
  src/store/getters.ts
  src/store/mutations.ts
  src/store/types.ts
  src/store/utils.ts
  src/swaps/EvmSwapProvider.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/fastbtc/FastbtcSwapProvider.ts
  src/swaps/hop/HopSwapProvider.ts
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  src/swaps/liqualityboost/types.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
  src/swaps/sovryn/SovrynSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
  src/types.ts
  src/utils/address.ts
  src/utils/asset.ts
  src/utils/chainify.ts
  src/utils/derivationPath.ts
  src/utils/eth_signTypedData_v4.ts
  src/utils/history.ts
  src/utils/networks.ts
  src/utils/timeline.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XXL, feature, test, fix

#60 Feat/mob 9
  .gitignore
  jest.config.js
  jest/setup.js
  src/store/actions/sendTransaction.ts
Labels: 🔍 Ready for Review, size/S

#68 Nft Support
  package.json
  src/build.config.ts
  src/factory/client/clients.ts
  src/factory/client/evm.ts
  src/store/actions/accounts/removeAccount.test.ts
  src/store/actions/index.ts
  src/store/actions/initializeAddresses.test.ts
  src/store/actions/performNextAction/index.ts
  src/store/actions/performNextAction/sendNFT.ts
  src/store/actions/sendNFTTransaction.ts
  src/store/actions/toggleNFTStarred.ts
  src/store/actions/updateFees.test.ts
  src/store/actions/updateNFTs.test.ts
  src/store/actions/updateNFTs.ts
  src/store/getters.ts
  src/store/mutations.ts
  src/store/types.ts
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  src/utils/asset.ts
  src/utils/history.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XXL, feature, test

#64 Feat/balance batching
  src/factory/client/clients.ts
  src/store/actions/getUnusedAddresses.ts
  src/store/actions/performNextAction/send.ts
  src/store/actions/updateBalances.test.ts
  src/store/actions/updateBalances.ts
  src/swaps/SwapProvider.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/hop/HopSwapProvider.ts
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
  src/swaps/sovryn/SovrynSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
Labels: ✅ Approved, size/L, test

#73 fix: revert 1559 for polygon
  src/factory/client/evm.ts
Labels: 🔍 Ready for Review, size/S

#70 fix: lower case addresses
  src/swaps/EvmSwapProvider.ts
Labels: size/XS, 🔍 Ready for Review

#74 feat: add eip1559 support for polygon & avalanche
  package.json
  src/factory/client/evm.ts
  src/utils/fees.ts
  yarn.lock
Labels: ✅ Approved, size/L

#72 Liq 1205 error messaging chainify version
  src/swaps/SwapProvider.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/fastbtc/FastbtcSwapProvider.ts
  src/swaps/hop/HopSwapProvider.ts
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
  src/swaps/sovryn/SovrynSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
  src/utils/quotes.ts
Labels: 🔍 Ready for Review, size/M

#76 ci: added semantic checks.
  .github/labeler.yml
  .github/workflows/coverage.yml
  .github/workflows/labele-set.yml
  .github/workflows/release.yml
Labels: 🔍 Ready for Review, size/M

#75 fix: keep 0x prefix for hop transactions
  src/swaps/hop/HopSwapProvider.ts
Labels: size/XS, ✅ Approved

#78 fix: fix asset code source
  src/store/actions/updateBalances.ts
Labels: size/XS, ✅ Approved

#80 feat: bump chainify version
  package.json
  yarn.lock
Labels: ✅ Approved, size/L

#65 fix: Provide fee asset
  src/store/actions/sendTransaction.ts
Labels: size/XS, ✅ Approved

#77 feat: Sort accounts and assets
  src/store/actions/enableAssets.ts
  src/store/actions/index.ts
  src/store/actions/updateCurrenciesInfo.ts
  src/store/getters.ts
  src/store/mutations.ts
  src/store/state.ts
  src/store/types.ts
  src/store/utils.ts
Labels: 🔍 Ready for Review, size/L

#84 fix: fix 2 tests
  src/store/actions/initializeAddresses.test.ts
  src/store/actions/updateFees.test.ts
Labels: ✅ Approved, size/M, test
