Repository liquality/wallet-core, pull requests merged in 2022-10, with the labels that each got.

#194 feat: evm chains unification
  .changeset/famous-ties-greet.md
  packages/cryptoassets/src/chains/mainnet/evm/arbitrum.ts
  packages/cryptoassets/src/chains/mainnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/mainnet/evm/bsc.ts
  packages/cryptoassets/src/chains/mainnet/evm/ethereum.ts
  packages/cryptoassets/src/chains/mainnet/evm/fuse.ts
  packages/cryptoassets/src/chains/mainnet/evm/optimism.ts
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
  packages/cryptoassets/src/chains/mainnet/evm/rsk.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/terra.ts
  packages/cryptoassets/src/chains/mainnet/utxo/bitcoin.ts
  packages/cryptoassets/src/chains/testnet/evm/arbitrum.ts
  packages/cryptoassets/src/chains/testnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/testnet/evm/bsc.ts
  packages/cryptoassets/src/chains/testnet/evm/ethereum.ts
  packages/cryptoassets/src/chains/testnet/evm/fuse.ts
  packages/cryptoassets/src/chains/testnet/evm/optimism.ts
  packages/cryptoassets/src/chains/testnet/evm/polygon.ts
  packages/cryptoassets/src/chains/testnet/evm/rsk.ts
  packages/cryptoassets/src/chains/testnet/non-evm/near.ts
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/testnet/non-evm/terra.ts
  packages/cryptoassets/src/chains/testnet/utxo/bitcoin.ts
  packages/cryptoassets/src/chains/utils.ts
  packages/cryptoassets/src/index.ts
  packages/cryptoassets/src/interfaces/IChain.ts
  packages/cryptoassets/src/types.ts
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/client/nft.ts
  packages/wallet-core/src/nameResolvers/uns.ts
  packages/wallet-core/src/store/utils.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/swaps/sovryn/SovrynSwapProvider.ts
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
  packages/wallet-core/src/utils/accounts.ts
  packages/wallet-core/src/utils/asset.test.ts
  packages/wallet-core/src/utils/asset.ts
  packages/wallet-core/src/utils/derivationPath.ts
  packages/wallet-core/src/utils/fetchTokenDetails.ts
  packages/wallet-core/src/utils/networks.ts
Labels: 🔍 Ready for Review, size/XXL, feature

#202 fix: assets must be fetched from getters
  packages/cryptoassets/src/assets/mainnet/erc20/polygon-tokens.ts
  packages/wallet-core/src/store/actions/updateAccountBalance.ts
Labels: ✅ Approved, size/S, feature

#197 feat: debridge swap provider
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/swap/index.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/swaps/debridge/DeBridgeSwapProvider.ts
  packages/wallet-core/src/swaps/debridge/abi/DeBridgeGate.json
  packages/wallet-core/src/swaps/debridge/abi/SignatureVerifier.json
  packages/wallet-core/src/swaps/debridge/info.json
  packages/wallet-core/src/swaps/utils.ts
Labels: ✅ Approved, size/XXL

#209 feat: solna rpc pass it as env
  packages/wallet-core/src/utils/networks.ts
Labels: size/XS, ✅ Approved, feature

#212 fix: assets must be fetched from store instead of cryptoassets
  .changeset/odd-avocados-shout.md
  packages/cryptoassets/src/chains/mainnet/non-evm/solana.ts
  packages/wallet-core/src/store/actions/getUnusedAddresses.ts
  packages/wallet-core/src/store/actions/performNextAction/send.ts
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
  packages/wallet-core/src/store/actions/sendTransaction.ts
  packages/wallet-core/src/store/actions/updateFees.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/swaps/SwapProvider.ts
Labels: size/M, feature

#218 fix: Update tesntet tokens for goerli
  packages/cryptoassets/src/assets/testnet/erc20/ethereum-tokens.ts
Labels: size/XS, 🔍 Ready for Review, feature

#223 fix: `analyticsEnabled` return value
  .changeset/purple-fans-burn.md
  packages/wallet-core/src/store/getters.ts
Labels: ✅ Approved, size/S, feature

#228 fix: change slippagePercentage-> 3
  packages/wallet-core/src/swaps/debridge/DeBridgeSwapProvider.ts
Labels: size/XS, ✅ Approved

#230 fix: Solana address checker bug
  .changeset/few-olives-sell.md
  .changeset/pre.json
  packages/cryptoassets/src/chains/NonEvmChain.ts
Labels: 🔍 Ready for Review, size/S, feature
