Repository liquality/wallet-core, pull requests merged in 2022-05, with the labels that each got.

#16 test: create wallet tests
  .github/workflows/coverage.yml
  jest.config.js
  src/index.test.ts
  src/store/actions/accounts/createAccount.test.ts
  src/store/actions/analytics.test.ts
  src/store/actions/createWallet.test.ts
  src/store/actions/enableDisableAssets.test.ts
  src/store/actions/sendTransaction.test.ts
  src/utils/address.test.ts
Labels: 🔍 Ready for Review, size/L

#17 feat: move to yarn version 3.1.1
  .gitignore
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: 🔍 Ready for Review, size/XXL

#2 refactor: using enums for chain ids
  package.json
  src/factory/client.ts
  src/store/migrations/3_add_network_custom_tokens.ts
  src/store/migrations/9_inject_ethereum_asset_chain.ts
  src/store/utils.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/sovryn/SovrynSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
  src/utils/asset.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/M

#21 feat: Handle gas estimation if token not approved
  src/swaps/uniswap/UniswapSwapProvider.ts
Labels: size/XS, ✅ Approved

#22 ci: Grab change log using Github actions
  .github/workflows/release.yml
Labels: ✅ Approved, size/S

#23 fix: Rename wallet core version in amplitude event
  src/store/actions/analytics.ts
Labels: size/XS, ✅ Approved

#5 Refactor boost providers
  src/build.config.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/fastbtc/FastbtcSwapProvider.ts
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
  src/swaps/sovryn/SovrynSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/types.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
  src/utils/fees.ts
Labels: ✅ Approved, size/L

#25 feat: Parse JSON Object and make wallet to popup once
  src/utils/eth_signTypedData_v4.ts
Labels: ✅ Approved, size/S

#26 test: new release ci test 1.5.2
  package.json
Labels: size/XS, 🔍 Ready for Review

#27 test: new release ci test 1.5.3
  .github/workflows/release.yml
  package.json
Labels: size/S

#28 CI change log
  .github/workflows/release.yml
  configuration.json
Labels: 🔍 Ready for Review, size/M

#29 CI new release 1.5.4
  package.json
Labels: size/XS

#30 New release 1.5.5
  .github/workflows/release.yml
  package.json
Labels: 🔍 Ready for Review, size/S

#31 feat: configuration updated
  .github/workflows/release.yml
  configs/configuration.json
  configuration.json
  package.json
Labels: 🔍 Ready for Review, size/L

#34 test: labeler added
  .github/labeler.yml
  .github/workflows/release.yml
  configs/configuration_complex.json
Labels: 🔍 Ready for Review, size/S, feature, test, dependencies, other

#39 feat: new version 1.5.7
  .github/labeler.yml
  .github/workflows/build-test.yml
  .github/workflows/labele-set.yml
  .github/workflows/release.yml
  README.md
  configs/configuration_complex.json
  package.json
Labels: documentation, 🔍 Ready for Review, size/M, other

#40 fix: bugs related to fees on eth - eip1559
  src/swaps/hop/HopSwapProvider.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
Labels: ✅ Approved, size/S, feature, fix

#41 fix: Add terra money package
  package.json
  yarn.lock
Labels: ✅ Approved, size/S

#42 test: added get quotes tests
  .github/labeler.yml
  .github/workflows/labele-set.yml
  src/store/actions/getQuotes.test.ts
Labels: 🔍 Ready for Review, size/M, feature, test, fix

#43 test: fee tests
  .github/labeler.yml
  .github/workflows/labele-set.yml
  src/utils/fees.test.ts
Labels: 🔍 Ready for Review, size/M

#45 fix: added fee multiplier for 1inch on arbitrum
  src/swaps/oneinch/OneinchSwapProvider.ts
Labels: ✅ Approved, size/S

#24 Feature ledger providers
  .nvmrc
  src/factory/client.ts
  src/index.test.ts
  src/store/actions/accounts/removeAccount.test.ts
  src/store/actions/accounts/toggleAccount.test.ts
  src/store/actions/enableDisableAssets.test.ts
  src/store/actions/hardware-wallet/getLedgerAccounts.ts
  src/store/actions/index.ts
  src/store/actions/sendTransaction.test.ts
  src/store/actions/setWatsNewModalVersion.ts
  src/store/actions/setWhatsNewModalVersion.test.ts
  src/store/actions/setWhatsNewModalVersion.ts
  src/store/actions/updateBalances.test.ts
  src/store/getters.ts
  src/store/migrations/19_remove_existing_ledger_accounts.state.pre.json
  src/store/migrations/19_remove_existing_ledger_accounts.ts
  src/store/migrations/19_remove_existing_ledger_accounts_test.ts
  src/store/migrations/index.ts
  src/store/mutations.ts
  src/store/state.ts
  src/store/types.ts
  src/types.ts
  src/utils/quotes.test.ts
  tsconfig.json
  yarn.lock
Labels: ✅ Approved, size/XXL, feature, test

#47 test: asset util tests
  .github/workflows/release.yml
  README.md
  package.json
  src/utils/asset.test.ts
Labels: documentation, 🔍 Ready for Review, size/L, test

#49 feat: fix typo
  .github/workflows/release.yml
Labels: size/XS

#48 fix: send fee format based on native asset
  src/utils/fees.ts
Labels: 🔍 Ready for Review, size/S
