Repository liquality/wallet-core, pull requests merged in 2022-08, with the labels that each got.

#103 fix: improve logic for min swap amount on ERC20 to Native
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
Labels: size/XS, ✅ Approved

#106 fix: use enum for swap provider type + rename fastbtc
  src/build.config.ts
  src/factory/swap/index.ts
  src/store/actions/getQuotes.ts
  src/store/actions/updateMarketData.ts
  src/store/types.ts
  src/swaps/fastbtc/FastBTCDepositSwapProvider.ts
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  src/swaps/utils.ts
Labels: ✅ Approved, size/L, feature

#107 feat: adding a getSendAmountFee function
  src/store/getters.ts
  src/utils/asset.ts
  src/utils/fees.ts
Labels: 🔍 Ready for Review, size/L

#108 fix: refactor fetching token details
  package.json
  src/store/actions/fetchTokenDetails.ts
  src/store/actions/index.ts
  src/utils/asset.ts
  src/utils/fetchTokenDetails.ts
  src/utils/tokenABI.json
  yarn.lock
Labels: ✅ Approved, size/L

#109 feat: fast btc withdraw (rbtc->btc) provider
  src/build.config.ts
  src/factory/swap/index.ts
  src/store/types.ts
  src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  src/swaps/fastbtc/fastBtcBridgeContract.ts
  src/swaps/fastbtc/info.json
  src/swaps/utils.ts
  src/utils/timeline.ts
Labels: 🔍 Ready for Review, size/L, feature

#110 feat: unstoppable domain integration
  package.json
  src/build.config.ts
  src/nameResolvers/uns.ts
  yarn.lock
Labels: ✅ Approved, size/L

#111 fix: fastbtc reduce num steps
  src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
Labels: size/XS, ✅ Approved

#114 feat: solana-integration-v2
  packages/wallet-core/package.json
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/swap/index.ts
  packages/wallet-core/src/index.test.ts
  packages/wallet-core/src/store/actions/accounts/createAccount.test.ts
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/migrations/21_enable_solana_chain.ts
  packages/wallet-core/src/store/migrations/index.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/swaps/jupiter/JupiterSwapProvider.ts
  packages/wallet-core/src/swaps/jupiter/info.json
  packages/wallet-core/src/swaps/utils.ts
  packages/wallet-core/src/utils/asset.ts
  packages/wallet-core/src/utils/chainify.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XL

#115 feat: Add solana custom toknes
  packages/wallet-core/src/utils/fetchTokenDetails.ts
Labels: size/XS, ✅ Approved

#117 feat: new version
  packages/cryptoassets/package.json
  packages/wallet-core/package.json
  yarn.lock
Labels: ✅ Approved, size/M

#116 fix: Solana label
  packages/wallet-core/package.json
  packages/wallet-core/src/utils/fetchTokenDetails.ts
  yarn.lock
Labels: 🔍 Ready for Review, ✅ Approved, size/L

#118 feat: version bump
  packages/wallet-core/package.json
Labels: size/XS, 🔍 Ready for Review, ✅ Approved

#119 fix: fastbtc withdraw, no quote when not in range
  packages/wallet-core/src/swaps/fastbtc/FastBTCDepositSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
Labels: 🔍 Ready for Review, size/S

#120 fix: Switch market place from opensea to magic eden for solana
  packages/wallet-core/src/utils/asset.ts
Labels: ✅ Approved, size/S

#121 refactor: fee calculations
  package.json
  packages/wallet-core/package.json
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/utils/fees.ts
  turbo.json
  yarn.lock
Labels: 🔍 Ready for Review, size/XL

#124 fix: UNS should resolve for polygon correctly and test
  packages/wallet-core/src/nameResolvers/nameResolver.ts
  packages/wallet-core/src/nameResolvers/uns.test.ts
  packages/wallet-core/src/nameResolvers/uns.ts
  packages/wallet-core/src/store/actions/accounts/createAccount.test.ts
  packages/wallet-core/src/store/actions/updateMarketData.test.ts
Labels: ✅ Approved, size/L

#112 fix: remove Matic from supportedBridge asset as it is not supported
  packages/wallet-core/src/build.config.ts
Labels: 🔍 Ready for Review, size/S

#126 feat: changeset github actions added
  .changeset/README.md
  .changeset/config.json
  .changeset/soft-tomatoes-march.md
  .eslintrc.yaml
  .github/labeler.yml
  .github/workflows/build-test.yml
  .github/workflows/labele-set.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .yarnrc.yml
  README.md
  commitlint.config.js
  docs/img.png
  docs/img_1.png
  docs/img_2.png
  docs/img_3.png
  package.json
  turbo.json
  yarn.lock
Labels: documentation, ✅ Approved, size/XL, feature, dependencies, ci-update

#128 chore: date timestamp updated
  .changeset/soft-tomatoes-march.md
  .changeset/stale-mirrors-laugh.md
  .github/workflows/release.yml
Labels: 🔍 Ready for Review, size/S

#135 feat: integrate optimism
  packages/cryptoassets/src/assets/erc20/ethereum-tokens.json
  packages/cryptoassets/src/assets/erc20/index.ts
  packages/cryptoassets/src/assets/erc20/optimism-tokens.json
  packages/cryptoassets/src/assets/native.ts
  packages/cryptoassets/src/assets/sendGasLimits.ts
  packages/cryptoassets/src/assets/testnet.ts
  packages/cryptoassets/src/chains.ts
  packages/cryptoassets/src/index.ts
  packages/cryptoassets/src/types.ts
  packages/wallet-core/package.json
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/index.test.ts
  packages/wallet-core/src/store/actions/accounts/createAccount.test.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/migrations/22_enable_optimism_chain.ts
  packages/wallet-core/src/store/migrations/index.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/utils/accounts.ts
  packages/wallet-core/src/utils/asset.ts
  packages/wallet-core/src/utils/derivationPath.ts
  packages/wallet-core/src/utils/fees.ts
  packages/wallet-core/src/utils/networks.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XXL, feature, dependencies

#134 feat: refactor wallet-core to use new cryptoassets
  packages/cryptoassets/src/assets/index.ts
  packages/cryptoassets/src/chains/index.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/nameResolvers/uns.ts
  packages/wallet-core/src/store/actions/clientExec.ts
  packages/wallet-core/src/store/actions/createWallet.ts
  packages/wallet-core/src/store/actions/enableAssets.ts
  packages/wallet-core/src/store/actions/exportPrivateKey.ts
  packages/wallet-core/src/store/actions/fetchTokenDetails.ts
  packages/wallet-core/src/store/actions/getUnusedAddresses.ts
  packages/wallet-core/src/store/actions/hardware-wallet/getLedgerAccounts.ts
  packages/wallet-core/src/store/actions/index.ts
  packages/wallet-core/src/store/actions/performNextAction/send.ts
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
  packages/wallet-core/src/store/actions/sendNFTTransaction.ts
  packages/wallet-core/src/store/actions/sendTransaction.ts
  packages/wallet-core/src/store/actions/updateAccountBalance.ts
  packages/wallet-core/src/store/actions/updateBalances.ts
  packages/wallet-core/src/store/actions/updateFees.test.ts
  packages/wallet-core/src/store/actions/updateFees.ts
  packages/wallet-core/src/store/actions/updateNFTs.ts
  packages/wallet-core/src/store/actions/updateTransactionFee.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/migrations/14_account_set_derivation_path.ts
  packages/wallet-core/src/store/migrations/16_enable_terra_chain.ts
  packages/wallet-core/src/store/migrations/18_enable_avalanche_chain.ts
  packages/wallet-core/src/store/migrations/20_fix_accounts.ts
  packages/wallet-core/src/store/migrations/21_enable_solana_chain.ts
  packages/wallet-core/src/store/migrations/5_multiple_account_support.ts
  packages/wallet-core/src/store/migrations/9_inject_ethereum_asset_chain.ts
  packages/wallet-core/src/store/utils.ts
  packages/wallet-core/src/swaps/EvmSwapProvider.ts
  packages/wallet-core/src/swaps/SwapProvider.ts
  packages/wallet-core/src/swaps/astroport/AstroportSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCDepositSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/swaps/hop/HopSwapProvider.ts
  packages/wallet-core/src/swaps/jupiter/JupiterSwapProvider.ts
  packages/wallet-core/src/swaps/liquality/LiqualitySwapProvider.ts
  packages/wallet-core/src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
  packages/wallet-core/src/swaps/liqualityboost/liqualityBoostNativeToERC20/LiqualityBoostNativeToERC20.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/swaps/sovryn/SovrynSwapProvider.ts
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
  packages/wallet-core/src/utils/accounts.ts
  packages/wallet-core/src/utils/asset.test.ts
  packages/wallet-core/src/utils/asset.ts
  packages/wallet-core/src/utils/chainify.ts
  packages/wallet-core/src/utils/cryptoassets.ts
  packages/wallet-core/src/utils/fees.ts
Labels: ✅ Approved, size/XL

#136 feat: Optimism fees on HOP
  packages/wallet-core/package.json
  packages/wallet-core/src/swaps/hop/HopSwapProvider.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/swaps/types.ts
  packages/wallet-core/src/utils/fees.ts
  yarn.lock
Labels: ✅ Approved, size/XXL, feature, dependencies

#138 feat: refactor migrations that enable chains
  packages/wallet-core/src/store/migrations/16_enable_terra_chain.ts
  packages/wallet-core/src/store/migrations/18_enable_avalanche_chain.ts
  packages/wallet-core/src/store/migrations/21_enable_solana_chain.ts
  packages/wallet-core/src/store/migrations/22_enable_optimism_chain.ts
  packages/wallet-core/src/store/migrations/enable_chain.ts
Labels: ✅ Approved, size/L, feature

#143 fix: create git release
  .github/workflows/release.yml
Labels: size/XS, 🔍 Ready for Review, feature, ci-update
