Repository liquality/wallet-core, pull requests merged in 2022-12, with the labels that each got.

#256 Activity filter fixes
  packages/wallet-core/src/utils/history.ts
Labels: ✅ Approved, size/M

#258 fix: map 1006NotFound error to pair not supported
  .changeset/dull-trainers-attack.md
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/error-parser/src/utils/index.ts
Labels: ✅ Approved, size/M, feature

#257 fix: report error with user consent
  .changeset/yellow-coats-press.md
  packages/error-parser/src/index.ts
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/types/index.ts
  packages/wallet-core/src/index.ts
  packages/wallet-core/src/store/actions/clearErrorLog.ts
  packages/wallet-core/src/store/actions/index.ts
  packages/wallet-core/src/store/actions/logError.test.ts
  packages/wallet-core/src/store/actions/logError.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/state.ts
  packages/wallet-core/src/store/types.ts
Labels: 🔍 Ready for Review, size/L, feature

#263 feat: first draft with mutations and client factory changes
  .changeset/blue-parrots-itch.md
  package.json
  packages/error-parser/package.json
  packages/wallet-core/package.json
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/index.ts
  packages/wallet-core/src/factory/settings.ts
  packages/wallet-core/src/store/actions/customChainSettings.ts
  packages/wallet-core/src/store/actions/index.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/mutations.ts
  packages/wallet-core/src/store/state.ts
  packages/wallet-core/src/store/types.ts
  packages/wallet-core/src/types.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XL, feature, dependencies

#265 Feature/custom chain settings
  .changeset/chilly-dolls-tickle.md
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/store/actions/customChainSettings.ts
  packages/wallet-core/src/store/getters.ts
  packages/wallet-core/src/store/utils.ts
Labels: size/M

#266 fix: fixed prettier issues
  .changeset/smooth-meals-kiss.md
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/store/actions/customChainSettings.ts
Labels: 🔍 Ready for Review, size/M, feature
