Repository liquality/wallet-core, pull requests merged in 2022-07, with the labels that each got.

#86 fix: bump chainify version
  package.json
  yarn.lock
Labels: ✅ Approved, size/L

#82 fix: correctly set the dollar value sign
  src/utils/coinFormatter.ts
Labels: size/XS, ✅ Approved

#91 feat: Sort chains by dollar value or market cap or alphabetical
  src/store/getters.ts
  src/store/utils.ts
Labels: ✅ Approved, size/M

#83 fix: increase minimum amount for boost with 5%
  src/swaps/liqualityboost/liqualityBoostERC20toNative/LiqualityBoostERC20toNative.ts
Labels: ✅ Approved, size/S

#87 fix: fetching usd prices
  package.json
  src/store/utils.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/S

#93 feat: fix rpc url usage
  package.json
  src/factory/client/clients.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/hop/HopSwapProvider.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
  src/utils/asset.ts
  src/utils/networks.ts
  yarn.lock
Labels: ✅ Approved, size/L

#85 fix: Updated logic that was causing issues on the mobile app #mob-9
  src/store/mutations.ts
Labels: ✅ Approved, size/S

#94 fix: adding a custom token
  src/store/getters.ts
Labels: size/XS, 🔍 Ready for Review, ✅ Approved

#55 feat: ledger
  src/factory/client/clients.ts
  src/factory/client/evm.ts
  src/factory/client/index.ts
  src/store/actions/getUnusedAddresses.ts
  src/store/actions/hardware-wallet/getLedgerAccounts.ts
  src/store/actions/updateAccountBalance.ts
  src/store/actions/updateBalances.ts
  src/store/getters.ts
  src/store/types.ts
  src/types.ts
  src/utils/accounts.ts
  yarn.lock
Labels: ✅ Approved, size/L, feature

#95 fix: revert matic endpoints
  src/utils/networks.ts
Labels: size/XS, ✅ Approved

#92 feat: Provide liquidity for asset when selected provider is liquidity…
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/utils.ts
Labels: ✅ Approved, size/M

#81 fix: overwrite errors on state transitions in swaps
  src/store/actions/performNextAction/index.ts
  src/store/types.ts
Labels: 🔍 Ready for Review, size/S

#96 fix: arbitrum marketplace and NFT history status
  src/store/actions/sendNFTTransaction.ts
  src/store/actions/updateNFTs.ts
  src/store/getters.ts
  src/utils/asset.ts
  yarn.lock
Labels: ✅ Approved, size/XL

#97 fix: improve balance fetching for multiaccount
  package.json
  src/store/actions/getUnusedAddresses.ts
  src/store/actions/updateBalances.ts
  src/store/mutations.ts
  src/types.ts
  src/utils/derivationPath.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/XXL, feature

#98 fix: typo in swap status was refactored
  src/swaps/hop/HopSwapProvider.ts
Labels: size/XS, ✅ Approved

#101 fix: add minimum for BTC thorchain swaps
  src/swaps/thorchain/ThorchainSwapProvider.ts
Labels: ✅ Approved, size/M

#102 fix: 0x issue and update balance
  src/swaps/hop/HopSwapProvider.ts
Labels: ✅ Approved, size/S

#104 feat: update chainify dependencies
  package.json
  yarn.lock
Labels: ✅ Approved, size/L

#105 fix: Thorchain min and slippage to prevent refunds
  src/store/actions/getQuotes.ts
  src/swaps/SwapProvider.ts
  src/swaps/astroport/AstroportSwapProvider.ts
  src/swaps/fastbtc/FastbtcSwapProvider.ts
  src/swaps/hop/HopSwapProvider.ts
  src/swaps/liquality/LiqualitySwapProvider.ts
  src/swaps/oneinch/OneinchSwapProvider.ts
  src/swaps/sovryn/SovrynSwapProvider.ts
  src/swaps/thorchain/ThorchainSwapProvider.ts
  src/swaps/types.ts
  src/swaps/uniswap/UniswapSwapProvider.ts
Labels: ✅ Approved, size/L
