Repository liquality/wallet-core, pull requests merged in 2022-09, with the labels that each got.

#139 fix: unstoppable domains lookup fix
  packages/wallet-core/src/nameResolvers/nameResolver.ts
  packages/wallet-core/src/nameResolvers/uns.test.ts
  packages/wallet-core/src/nameResolvers/uns.ts
Labels: 🔍 Ready for Review, size/M

#154 fix: correctly retrieve account balances in action
  packages/wallet-core/src/store/actions/accounts/toggleAccount.test.ts
  packages/wallet-core/src/store/actions/disableEthereumInjection.test.ts
  packages/wallet-core/src/store/actions/enableDisableAssets.test.ts
  packages/wallet-core/src/store/actions/updateAccountBalance.ts
Labels: size/XS, 🔍 Ready for Review, feature

#156 ci: added beta release npm script
  .github/workflows/release.yml
  package.json
Labels: ✅ Approved, size/S, feature, dependencies, ci-update

#158 fix: address validation for evm chains
  .changeset/four-cameras-swim.md
  packages/cryptoassets/src/chains/EvmChain.ts
Labels: 🔍 Ready for Review, size/S, feature

#163 version: bump
  packages/cryptoassets/package.json
  packages/wallet-core/package.json
Labels: size/XS, ✅ Approved

#167 feat: add error-parser package
  packages/error-parser/jest.config.js
  packages/error-parser/package.json
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/factory/index.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/reporters/console.ts
  packages/error-parser/src/reporters/discord.ts
  packages/error-parser/src/reporters/email.ts
  packages/error-parser/src/reporters/index.ts
  packages/error-parser/src/test/index.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/error-parser/src/types/types.ts
  packages/error-parser/src/utils/index.ts
  packages/error-parser/tsconfig.json
  yarn.lock
Labels: ✅ Approved, size/XL, feature, dependencies

#169 fix: add more oneinch parsers
  packages/error-parser/package.json
  packages/error-parser/src/LiqualityErrors/InsufficientFundsError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientGasFeeError.ts
  packages/error-parser/src/LiqualityErrors/InsufficientLiquidityError.ts
  packages/error-parser/src/LiqualityErrors/InternalError.ts
  packages/error-parser/src/LiqualityErrors/ThirdPartyError.ts
  packages/error-parser/src/LiqualityErrors/UnknownError.ts
  packages/error-parser/src/LiqualityErrors/index.ts
  packages/error-parser/src/config.ts
  packages/error-parser/src/factory/index.ts
  packages/error-parser/src/index.ts
  packages/error-parser/src/parsers/ErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/ApproveErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/QuoteErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/SwapErrorParser.ts
  packages/error-parser/src/parsers/OneInchAPI/index.ts
  packages/error-parser/src/parsers/index.ts
  packages/error-parser/src/test/index.ts
  packages/error-parser/src/test/oneInch/approveAPI.test.ts
  packages/error-parser/src/test/oneInch/swapAPI.test.ts
  packages/error-parser/src/types/types.ts
  yarn.lock
Labels: 🔍 Ready for Review, size/L, feature, dependencies

#140 feat: lint no-console rule
  .eslintrc.yaml
  packages/wallet-core/src/store/migrations/19_remove_existing_ledger_accounts_test.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCDepositSwapProvider.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/utils/quotes.test.ts
  packages/wallet-core/src/walletOptions/defaultOptions.ts
Labels: ✅ Approved, size/S, feature

#175 test: testing bump version against develop
  .changeset/clever-horses-sell.md
  README.md
Labels: 🔍 Ready for Review, size/S

#177 test: fix typo in ci release
  .github/workflows/pre-release.yml
Labels: size/XS, 🔍 Ready for Review

#166 feat: NFT tx notification
  .changeset/stale-candles-rush.md
  packages/wallet-core/package.json
  packages/wallet-core/src/store/actions/performNextAction/sendNFT.ts
  packages/wallet-core/src/store/actions/updateNFTs.ts
  packages/wallet-core/src/store/broker/notification.ts
  yarn.lock
Labels: ✅ Approved, size/L, feature, dependencies

#174 feat: make evm chains integration easy
  packages/cryptoassets/src/chains/mainnet/evm/arbitrum.ts
  packages/cryptoassets/src/chains/mainnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/mainnet/evm/bsc.ts
  packages/cryptoassets/src/chains/mainnet/evm/ethereum.ts
  packages/cryptoassets/src/chains/mainnet/evm/fuse.ts
  packages/cryptoassets/src/chains/mainnet/evm/optimism.ts
  packages/cryptoassets/src/chains/mainnet/evm/polygon.ts
  packages/cryptoassets/src/chains/mainnet/evm/rsk.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/terra.ts
  packages/cryptoassets/src/chains/mainnet/utxo/bitcoin.ts
  packages/cryptoassets/src/chains/testnet/evm/arbitrum.ts
  packages/cryptoassets/src/chains/testnet/evm/avalanche.ts
  packages/cryptoassets/src/chains/testnet/evm/bsc.ts
  packages/cryptoassets/src/chains/testnet/evm/ethereum.ts
  packages/cryptoassets/src/chains/testnet/evm/fuse.ts
  packages/cryptoassets/src/chains/testnet/evm/optimism.ts
  packages/cryptoassets/src/chains/testnet/evm/polygon.ts
  packages/cryptoassets/src/chains/testnet/evm/rsk.ts
  packages/cryptoassets/src/chains/testnet/non-evm/near.ts
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/testnet/non-evm/terra.ts
  packages/cryptoassets/src/chains/testnet/utxo/bitcoin.ts
  packages/cryptoassets/src/chains/utils.ts
  packages/cryptoassets/src/index.ts
  packages/cryptoassets/src/interfaces/IChain.ts
  packages/cryptoassets/src/types.ts
  packages/wallet-core/src/build.config.ts
  packages/wallet-core/src/factory/client/clients.ts
  packages/wallet-core/src/factory/client/evm.ts
  packages/wallet-core/src/factory/client/index.ts
  packages/wallet-core/src/factory/client/nft.ts
  packages/wallet-core/src/nameResolvers/uns.ts
  packages/wallet-core/src/store/utils.ts
  packages/wallet-core/src/swaps/fastbtc/FastBTCWithdrawSwapProvider.ts
  packages/wallet-core/src/swaps/oneinch/OneinchSwapProvider.ts
  packages/wallet-core/src/swaps/sovryn/SovrynSwapProvider.ts
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
  packages/wallet-core/src/swaps/uniswap/UniswapSwapProvider.ts
  packages/wallet-core/src/utils/accounts.ts
  packages/wallet-core/src/utils/asset.test.ts
  packages/wallet-core/src/utils/asset.ts
  packages/wallet-core/src/utils/derivationPath.ts
  packages/wallet-core/src/utils/fetchTokenDetails.ts
  packages/wallet-core/src/utils/networks.ts
Labels: ✅ Approved, size/XL, feature

#185 bump up chainify package
  .changeset/twelve-bees-fix.md
  packages/wallet-core/package.json
  yarn.lock
Labels: ✅ Approved, size/L

#188 fix: custom fees for btc, terra and near
  packages/cryptoassets/src/chains/mainnet/non-evm/near.ts
  packages/cryptoassets/src/chains/mainnet/non-evm/terra.ts
  packages/cryptoassets/src/chains/mainnet/utxo/bitcoin.ts
Labels: size/XS, ✅ Approved, feature

#187 fix: price source should be omitted when matching currency code is there
  packages/cryptoassets/src/assets/mainnet/erc20/arbitrum-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/avalanche-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/optimism-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/polygon-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/solana-tokens.ts
  packages/cryptoassets/src/assets/mainnet/erc20/terra-tokens.ts
  packages/cryptoassets/src/interfaces/IAsset.ts
  packages/wallet-core/src/store/utils.ts
Labels: 🔍 Ready for Review, size/L, feature

#195 fix: solana quota issue, endpoints updated
  packages/cryptoassets/src/chains/mainnet/non-evm/solana.ts
  packages/cryptoassets/src/chains/testnet/non-evm/solana.ts
Labels: size/XS, 🔍 Ready for Review, feature
