Repository liquality/wallet-core, pull requests merged in 2023-01, with the labels that each got.

#269 fix: set the right gas limit for lify and Hop when use Arbitrum
  .changeset/blue-weeks-fry.md
  packages/wallet-core/src/swaps/hop/HopSwapProvider.ts
  packages/wallet-core/src/swaps/lifi/LifiSwapProvider.ts
Labels: ✅ Approved, size/S, feature

#271 feat: set-min-miner-tip-for-polygon
  .changeset/pink-lemons-sparkle.md
  packages/wallet-core/src/store/getters.ts
Labels: 🔍 Ready for Review, size/S, feature

#274 feat: update min miner tip for different speeds
  packages/wallet-core/src/store/getters.ts
Labels: size/XS, ✅ Approved, feature

#283 fix: thorchain hash
  packages/wallet-core/src/swaps/thorchain/ThorchainSwapProvider.ts
Labels: size/XS, ✅ Approved, feature

#285 Add Avax stablecoin tokens
  packages/cryptoassets/src/assets/mainnet/erc20/avalanche-tokens.ts
Labels: ✅ Approved, size/M
